DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=agent_db
DB_SCHEMA=energy_monthreport
DB_SCHEMA_RULE=energysavingrules
DB_SCHEMA_AGENT=jd_agent
LLM_API_KEY=your_api_key_here
LLM_BASE_URL=
DEFAULT_MODEL=deepseek/deepseek-chat
BASE_URL=http://localhost:8000
